Read Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
data_frame_1= pd.read_csv("D:/Filechuan/dataset/FleetJourney_EcomUStime.csv")
df1=data_frame_1.copy()
df1

,SENDERS_DATE,RECEIVERS_DATE,TRANSPORTATION_DISTANCE_IN_KM,ontime,delay,PREDICTED_DELIVERED_DATE,vehicle_no,vehicleType,Driver_Name,Driver_MobileNo,customer_id,First_name,supplierID,supplierNameCode,Material Shipped
0,18/05/2021,28/06/2021,320.0,No,Yes,30/06/2021,KA590408,Mahindra LCV 1MT,RAMESH,7082423013,72c00ba8bc7,James,VIJEXHOSR7,VIJAY TRANSPORT,BRACKET / GRAB HANDLE
1,18/05/2021,28/06/2021,103.0,Yes,No,30/06/2021,TN30BC5917,Mahindra LCV 1MT,RAMESH,7082423014,b18a428ac77,Josephine,VJLEXSHE09,VJ LOGISTICS,ZB MODEL PLATE / 3143
2,11/4/2021,22/05/2021,300.0,Yes,No,24/05/2021,TN22AR2748,Mahindra LCV 1MT,GIRI,7082423015,2fdd0374a03,Art,GSTEXLAK1Q,G.S. TRANSPORT,LETTERING / FUSO
3,19/05/2021,29/06/2021,61.0,Yes,No,29/06/2021,TN28AQ0781,Mahindra LCV 1MT,RAVI,7082423016,dc6358b12c3,Lenna,ARVEXNAM09,ARVINTH TRANSPORT,LU STRUT RA / RADIUS ROD
4,18/05/2021,28/06/2021,240.0,Yes,No,28/06/2021,TN68F1722,Mahindra LCV 1MT,TAMIL,7082423017,c12e35b23ad,Donette,SRTEXKOR96,SR TRANSPORTS,WISHBONE / V ROD/HDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10000,19/04/2021,30/05/2021,31.0,No,Yes,1/6/2021,AP13X6670,41 FT Flat Bed Double-Axle 21MT - Trailer,thippaswamy nayak K T,9036703937,42c56b99070,Mary,59071,VINOD KAPOOR AND SONS,THRUST WASHER TSIDE CHAMFER
10001,20/04/2021,31/05/2021,32.0,No,Yes,2/6/2021,AP13X6671,42 FT Flat Bed Double-Axle 21MT - Trailer,thippaswamy nayak K T,9036703938,42c56b99071,Jennifer,59072,VINOD KAPOOR AND SONS,THRUST WASHER TSIDE CHAMFER
10002,21/04/2021,1/6/2021,33.0,No,Yes,3/6/2021,AP13X6672,43 FT Flat Bed Double-Axle 21MT - Trailer,thippaswamy nayak K T,9036703939,42c56b99072,Martha,59073,VINOD KAPOOR AND SONS,THRUST WASHER TSIDE CHAMFER
10003,22/04/2021,2/6/2021,34.0,No,Yes,4/6/2021,AP13X6673,44 FT Flat Bed Double-Axle 21MT - Trailer,thippaswamy nayak K T,9036703940,42c56b99073,Evelyn,59074,VINOD KAPOOR AND SONS,THRUST WASHER TSIDE CHAMFER
10004,23/04/2021,3/6/2021,35.0,No,Yes,5/6/2021,AP13X6674,45 FT Flat Bed Double-Axle 21MT - Trailer,thippaswamy nayak K T,9036703941,42c56b99074,Guinevere,59075,VINOD KAPOOR AND SONS,THRUST WASHER TSIDE CHAMFER

In [3]:
data_frame_2= pd.read_csv("D:/Filechuan/dataset/FleetJourneyorderinfor.csv")
df2=data_frame_2.copy()
df2

,order_id,order_id_date,vehicle_no,customer_id,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1,PLACE_OF_RECEIVERS 2,PLACE_OF_RECEIVERS 3,Unnamed: 8
0,d792cb16214,15/05/2021,KA590408,72c00ba8bc7,New York,Chincoteague Island,Fort Wayne,Mesa,NaN
1,0d7a144bdd3,15/05/2021,TN30BC5917,b18a428ac77,San Jose,Exmore,Newark,Garland,NaN
2,57da4fc703e,8/4/2021,TN22AR2748,2fdd0374a03,Birmingham,Lawrenceville,Arlington,Scottsdale,NaN
3,1b038114c75,16/05/2021,TN28AQ0781,dc6358b12c3,San Jose,Midlothian,Fort Wayne,Plano,NaN
4,bb4e55b4fd9,15/05/2021,TN68F1722,c12e35b23ad,Boston,Virginia Beach,Baton Rouge,Garland,NaN
...,...,...,...,...,...,...,...,...,...
10015,57f78c2d0d17,2/5/2021,AP13X6686,NaN,San Jose,NaN,NaN,Garland,NaN
10016,57f78c2d0d18,3/5/2021,AP13X6687,NaN,San Jose,NaN,NaN,Garland,NaN
10017,57f78c2d0d19,4/5/2021,AP13X6688,NaN,San Jose,Johnson City,NaN,Garland,NaN
10018,57f78c2d0d20,5/5/2021,AP13X6689,NaN,San Jose,Johnson City,Charlotte,NaN,NaN
10019,57f78c2d0d21,6/5/2021,AP13X6690,NaN,San Jose,Johnson City,Charlotte,Garland,NaN

In [4]:
df4=pd.read_csv("D:/Filechuan/dataset/adult.csv", dtype='unicode')
df4

,Customer Id,Customer Fname,Customer Lname,age,workclass,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,PLACE_OF_RECEIVERS,Customer Email,Customer Password
0,542,Mary,Smith,90,?,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K,Chincoteague Island,XXXXXXXXX,XXXXXXXXX
1,11329,Hannah,Smith,82,Private,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K,Exmore,XXXXXXXXX,XXXXXXXXX
2,3570,Mary,Nelson,66,?,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K,Lawrenceville,XXXXXXXXX,XXXXXXXXX
3,650,Austin,Sexton,54,Private,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K,Midlothian,XXXXXXXXX,XXXXXXXXX
4,9353,Michael,Scott,41,Private,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K,Virginia Beach,XXXXXXXXX,XXXXXXXXX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50247,1115,Henry,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXXX,XXXXXXXXX
50248,9259,Thomas,Roman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXXX,XXXXXXXXX
50249,12107,Sharon,Patterson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXXX,XXXXXXXXX
50250,6253,Mary,Peterson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXXX,XXXXXXXXX
50251,8430,Gloria,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XXXXXXXXX,XXXXXXXXX

Data Processing

In [5]:
df1.describe()

       TRANSPORTATION_DISTANCE_IN_KM  Driver_MobileNo
count                   10005.000000     1.000500e+04
mean                      648.696072     7.831474e+09
std                       918.371841     1.099220e+09
min                         0.000000     6.000546e+09
25%                        40.000000     7.082424e+09
50%                       148.000000     7.082425e+09
75%                      1000.000000     8.917471e+09
max                      2954.700000     1.000000e+10

In [6]:
df1.shape

(10005, 15)

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10005 entries, 0 to 10004
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SENDERS_DATE                   10004 non-null  object
 1   RECEIVERS_DATE                 10005 non-null  object
 2   TRANSPORTATION_DISTANCE_IN_KM  10005 non-null  float64
 3   ontime                         10005 non-null  object
 4   delay                          10005 non-null  object
 5   PREDICTED_DELIVERED_DATE       10005 non-null  object
 6   vehicle_no                     10005 non-null  object
 7   vehicleType                    10005 non-null  object
 8   Driver_Name                    10005 non-null  object
 9   Driver_MobileNo                10005 non-null  int64
 10  customer_id                    10005 non-null  object
 11  First_name                     10005 non-null  object
 12  supplierID                     10005 non-null  object
 13  supplierNameCode               10005 non-null  object
 14  Material Shipped               10005 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 1.1+ MB

In [8]:
df3= pd.concat([df1, df2], axis=1)
df3

,SENDERS_DATE,RECEIVERS_DATE,TRANSPORTATION_DISTANCE_IN_KM,ontime,delay,PREDICTED_DELIVERED_DATE,vehicle_no,vehicleType,Driver_Name,Driver_MobileNo,...,Material Shipped,order_id,order_id_date,vehicle_no,customer_id,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1,PLACE_OF_RECEIVERS 2,PLACE_OF_RECEIVERS 3,Unnamed: 8
0,18/05/2021,28/06/2021,320.0,No,Yes,30/06/2021,KA590408,Mahindra LCV 1MT,RAMESH,7.082423e+09,...,BRACKET / GRAB HANDLE,d792cb16214,15/05/2021,KA590408,72c00ba8bc7,New York,Chincoteague Island,Fort Wayne,Mesa,NaN
1,18/05/2021,28/06/2021,103.0,Yes,No,30/06/2021,TN30BC5917,Mahindra LCV 1MT,RAMESH,7.082423e+09,...,ZB MODEL PLATE / 3143,0d7a144bdd3,15/05/2021,TN30BC5917,b18a428ac77,San Jose,Exmore,Newark,Garland,NaN
2,11/4/2021,22/05/2021,300.0,Yes,No,24/05/2021,TN22AR2748,Mahindra LCV 1MT,GIRI,7.082423e+09,...,LETTERING / FUSO,57da4fc703e,8/4/2021,TN22AR2748,2fdd0374a03,Birmingham,Lawrenceville,Arlington,Scottsdale,NaN
3,19/05/2021,29/06/2021,61.0,Yes,No,29/06/2021,TN28AQ0781,Mahindra LCV 1MT,RAVI,7.082423e+09,...,LU STRUT RA / RADIUS ROD,1b038114c75,16/05/2021,TN28AQ0781,dc6358b12c3,San Jose,Midlothian,Fort Wayne,Plano,NaN
4,18/05/2021,28/06/2021,240.0,Yes,No,28/06/2021,TN68F1722,Mahindra LCV 1MT,TAMIL,7.082423e+09,...,WISHBONE / V ROD/HDT,bb4e55b4fd9,15/05/2021,TN68F1722,c12e35b23ad,Boston,Virginia Beach,Baton Rouge,Garland,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d17,2/5/2021,AP13X6686,NaN,San Jose,NaN,NaN,Garland,NaN
10016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d18,3/5/2021,AP13X6687,NaN,San Jose,NaN,NaN,Garland,NaN
10017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d19,4/5/2021,AP13X6688,NaN,San Jose,Johnson City,NaN,Garland,NaN
10018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d20,5/5/2021,AP13X6689,NaN,San Jose,Johnson City,Charlotte,NaN,NaN
10019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d21,6/5/2021,AP13X6690,NaN,San Jose,Johnson City,Charlotte,Garland,NaN

In [9]:
df3.isna().sum()

SENDERS_DATE                        16
RECEIVERS_DATE                      15
TRANSPORTATION_DISTANCE_IN_KM       15
ontime                              15
delay                               15
PREDICTED_DELIVERED_DATE            15
vehicle_no                          15
vehicleType                         15
Driver_Name                         15
Driver_MobileNo                     15
customer_id                         15
First_name                          15
supplierID                          15
supplierNameCode                    15
Material Shipped                    15
order_id                             0
order_id_date                        0
vehicle_no                           0
customer_id                         15
PLACE_OF_SENDERS                     0
PLACE_OF_RECEIVERS 1                 6
PLACE_OF_RECEIVERS 2                12
PLACE_OF_RECEIVERS 3                 4
Unnamed: 8                       10020
dtype: int64

In [10]:
filt1=df3[df3['SENDERS_DATE'].isna()]
filt1

,SENDERS_DATE,RECEIVERS_DATE,TRANSPORTATION_DISTANCE_IN_KM,ontime,delay,PREDICTED_DELIVERED_DATE,vehicle_no,vehicleType,Driver_Name,Driver_MobileNo,...,Material Shipped,order_id,order_id_date,vehicle_no,customer_id,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1,PLACE_OF_RECEIVERS 2,PLACE_OF_RECEIVERS 3,Unnamed: 8
7691,NaN,10/2/1900,148.0,No,Yes,12/2/1900,HR55AF1978,40 FT 3XL Trailer 35MT,SIGAMANI,7.082424e+09,...,GRS STARTER,b87bc2c75ce,25/06/2021,KA029324,0b86f6de25e,New York,Memphis,Baton Rouge,Mesa,NaN
10005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d7,22/04/2021,AP13X6676,NaN,San Jose,Johnson City,Charlotte,Garland,NaN
10006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d8,23/04/2021,AP13X6677,NaN,San Jose,Johnson City,NaN,NaN,NaN
10007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d9,24/04/2021,AP13X6678,NaN,San Jose,Johnson City,NaN,Garland,NaN
10008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d10,25/04/2021,AP13X6679,NaN,San Jose,Johnson City,NaN,Garland,NaN
10009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d11,26/04/2021,AP13X6680,NaN,San Jose,Johnson City,NaN,Garland,NaN
10010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d12,27/04/2021,AP13X6681,NaN,San Jose,Johnson City,NaN,Garland,NaN
10011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d13,28/04/2021,AP13X6682,NaN,San Jose,NaN,NaN,Garland,NaN
10012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d14,29/04/2021,AP13X6683,NaN,San Jose,NaN,NaN,Garland,NaN
10013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d15,30/04/2021,AP13X6684,NaN,San Jose,NaN,NaN,NaN,NaN
10014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d16,1/5/2021,AP13X6685,NaN,San Jose,NaN,NaN,Garland,NaN
10015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d17,2/5/2021,AP13X6686,NaN,San Jose,NaN,NaN,Garland,NaN
10016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d18,3/5/2021,AP13X6687,NaN,San Jose,NaN,NaN,Garland,NaN
10017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d19,4/5/2021,AP13X6688,NaN,San Jose,Johnson City,NaN,Garland,NaN
10018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d20,5/5/2021,AP13X6689,NaN,San Jose,Johnson City,Charlotte,NaN,NaN
10019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57f78c2d0d21,6/5/2021,AP13X6690,NaN,San Jose,Johnson City,Charlotte,Garland,NaN

In [11]:
filt1.loc[filt1.order_id == '99e25010475','SENDERS_DATE']= '06/09/2021'
filt1.loc[filt1.order_id == '99e25010475','RECEIVERS_DATE']= '15/09/2021'
filt1
df3[df3['SENDERS_DATE'].isna()]=filt1

In [12]:
df3.isna().sum()

SENDERS_DATE                        16
RECEIVERS_DATE                      15
TRANSPORTATION_DISTANCE_IN_KM       15
ontime                              15
delay                               15
PREDICTED_DELIVERED_DATE            15
vehicle_no                          15
vehicleType                         15
Driver_Name                         15
Driver_MobileNo                     15
customer_id                         15
First_name                          15
supplierID                          15
supplierNameCode                    15
Material Shipped                    15
order_id                             0
order_id_date                        0
vehicle_no                           0
customer_id                         15
PLACE_OF_SENDERS                     0
PLACE_OF_RECEIVERS 1                 6
PLACE_OF_RECEIVERS 2                12
PLACE_OF_RECEIVERS 3                 4
Unnamed: 8                       10020
dtype: int64

In [13]:
df3=df3.join(df4['Customer Fname'])
df3=df3.join(df4['Customer Lname'])
df3

,SENDERS_DATE,RECEIVERS_DATE,TRANSPORTATION_DISTANCE_IN_KM,ontime,delay,PREDICTED_DELIVERED_DATE,vehicle_no,vehicleType,Driver_Name,Driver_MobileNo,...,order_id_date,vehicle_no,customer_id,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1,PLACE_OF_RECEIVERS 2,PLACE_OF_RECEIVERS 3,Unnamed: 8,Customer Fname,Customer Lname
0,18/05/2021,28/06/2021,320.0,No,Yes,30/06/2021,KA590408,Mahindra LCV 1MT,RAMESH,7.082423e+09,...,15/05/2021,KA590408,72c00ba8bc7,New York,Chincoteague Island,Fort Wayne,Mesa,NaN,Mary,Smith
1,18/05/2021,28/06/2021,103.0,Yes,No,30/06/2021,TN30BC5917,Mahindra LCV 1MT,RAMESH,7.082423e+09,...,15/05/2021,TN30BC5917,b18a428ac77,San Jose,Exmore,Newark,Garland,NaN,Hannah,Smith
2,11/4/2021,22/05/2021,300.0,Yes,No,24/05/2021,TN22AR2748,Mahindra LCV 1MT,GIRI,7.082423e+09,...,8/4/2021,TN22AR2748,2fdd0374a03,Birmingham,Lawrenceville,Arlington,Scottsdale,NaN,Mary,Nelson
3,19/05/2021,29/06/2021,61.0,Yes,No,29/06/2021,TN28AQ0781,Mahindra LCV 1MT,RAVI,7.082423e+09,...,16/05/2021,TN28AQ0781,dc6358b12c3,San Jose,Midlothian,Fort Wayne,Plano,NaN,Austin,Sexton
4,18/05/2021,28/06/2021,240.0,Yes,No,28/06/2021,TN68F1722,Mahindra LCV 1MT,TAMIL,7.082423e+09,...,15/05/2021,TN68F1722,c12e35b23ad,Boston,Virginia Beach,Baton Rouge,Garland,NaN,Michael,Scott
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2/5/2021,AP13X6686,NaN,San Jose,NaN,NaN,Garland,NaN,Russell,Cameron
10016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3/5/2021,AP13X6687,NaN,San Jose,NaN,NaN,Garland,NaN,Mary,Blake
10017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4/5/2021,AP13X6688,NaN,San Jose,Johnson City,NaN,Garland,NaN,Laura,Smith
10018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5/5/2021,AP13X6689,NaN,San Jose,Johnson City,Charlotte,NaN,NaN,Mary,Smith
10019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6/5/2021,AP13X6690,NaN,San Jose,Johnson City,Charlotte,Garland,NaN,Mary,Cohen

In [14]:
df3=df3.drop('First_name', axis=1)
df3

,SENDERS_DATE,RECEIVERS_DATE,TRANSPORTATION_DISTANCE_IN_KM,ontime,delay,PREDICTED_DELIVERED_DATE,vehicle_no,vehicleType,Driver_Name,Driver_MobileNo,...,order_id_date,vehicle_no,customer_id,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1,PLACE_OF_RECEIVERS 2,PLACE_OF_RECEIVERS 3,Unnamed: 8,Customer Fname,Customer Lname
0,18/05/2021,28/06/2021,320.0,No,Yes,30/06/2021,KA590408,Mahindra LCV 1MT,RAMESH,7.082423e+09,...,15/05/2021,KA590408,72c00ba8bc7,New York,Chincoteague Island,Fort Wayne,Mesa,NaN,Mary,Smith
1,18/05/2021,28/06/2021,103.0,Yes,No,30/06/2021,TN30BC5917,Mahindra LCV 1MT,RAMESH,7.082423e+09,...,15/05/2021,TN30BC5917,b18a428ac77,San Jose,Exmore,Newark,Garland,NaN,Hannah,Smith
2,11/4/2021,22/05/2021,300.0,Yes,No,24/05/2021,TN22AR2748,Mahindra LCV 1MT,GIRI,7.082423e+09,...,8/4/2021,TN22AR2748,2fdd0374a03,Birmingham,Lawrenceville,Arlington,Scottsdale,NaN,Mary,Nelson
3,19/05/2021,29/06/2021,61.0,Yes,No,29/06/2021,TN28AQ0781,Mahindra LCV 1MT,RAVI,7.082423e+09,...,16/05/2021,TN28AQ0781,dc6358b12c3,San Jose,Midlothian,Fort Wayne,Plano,NaN,Austin,Sexton
4,18/05/2021,28/06/2021,240.0,Yes,No,28/06/2021,TN68F1722,Mahindra LCV 1MT,TAMIL,7.082423e+09,...,15/05/2021,TN68F1722,c12e35b23ad,Boston,Virginia Beach,Baton Rouge,Garland,NaN,Michael,Scott
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2/5/2021,AP13X6686,NaN,San Jose,NaN,NaN,Garland,NaN,Russell,Cameron
10016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3/5/2021,AP13X6687,NaN,San Jose,NaN,NaN,Garland,NaN,Mary,Blake
10017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4/5/2021,AP13X6688,NaN,San Jose,Johnson City,NaN,Garland,NaN,Laura,Smith
10018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5/5/2021,AP13X6689,NaN,San Jose,Johnson City,Charlotte,NaN,NaN,Mary,Smith
10019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6/5/2021,AP13X6690,NaN,San Jose,Johnson City,Charlotte,Garland,NaN,Mary,Cohen